@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-color: #50c878;
  --warm-color: #ff7f50;
  --cold-color: #40e0d0;
}
.warm-color:hover {
  background: var(--warm-color);
  font-weight: 500;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.prime-bg {
  background: linear-gradient(to left, #4bac6b, #35724a);
}
header {
  display: flex;
  align-items: center;
}
