@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --prime-color: #50c878;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;

}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.prime-bg {
  background: linear-gradient(to left, #4bac6b, #35724a);
}
header {
  display: flex;
  align-items: center;
}
